/* 
   Header 20
   Main / section hero ab 49
   Main / section instructions ab 138
   Main / section products ab 219
   Main/ section form ab 247
   Footer ab 344
*/

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    --mainColor: #182f73;
    --navColor: #244d96;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    max-width: 100%;
    min-width: 1444px;
    height: 120px;
    padding: 1rem 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

nav > ul a,
#social-media a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: var(--navColor);
}

/* Main / section hero */

#hero {
    position: relative;
    height: 950px;
    background-image: url("./images/BAY_Bepanthen_Pollen_Visual_iStock.png");
    background-size: cover;
}

.pollenalarm {
    max-width: 100%;
    min-width: 1444px;
    height: 145px;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #daf3ff;
}

.alarm {
    width: 700px;
    font-size: 75px;
    font-weight: 700;
    color: #ff0000;
}
.Bepanthen-hilft {
    width: 700px;
    font-size: 30px;
    line-height: 34px;
    color: var(--mainColor);
}
.pollenalarm-infos {
    position: relative;
    top: 410px;
    width: 100%;
    height: 580px;
    background-color: #fff;
    clip-path: polygon(0 68%, 100% 37%, 100% 100%, 0 100%);
}
.pollenalarm-infos > h1 {
    position: absolute;
    top: 410px;
    left: 130px;
    width: 1200px;
    font-weight: 700;
    font-size: 50px;
    color: var(--mainColor);
}
.pollenalarm-infos > p {
    position: absolute;
    top: 485px;
    left: 130px;
    width: 1250px;
    font-weight: 500;
    font-size: 26px;
    line-height: 3rem;
    color: var(--mainColor);
}

.award-bc {
    position: absolute;
    top: 550px;
    left: 1420px;
}

.award-title {
    position: absolute;
    top: 560px;
    left: 1490px;
    width: 190px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}
.award-description {
    position: absolute;
    top: 660px;
    left: 1480px;
    width: 230px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.philip-lufter {
    position: absolute;
    top: 740px;
    left: 1540px;
}

/* Main / section instructions */

#instructions {
    margin-top: 50px;
    width: 100%;
    height: 450px;
    color: var(--mainColor);
}
#instructions > h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.vector {
    position: relative;
}
.vector-one {
    top: -50px;
    left: 1500px;
}
.instructions {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(11, 150px);
    grid-template-rows: repeat(5, calc(100% / 5));
    justify-content: center;
    row-gap: 0.3rem;
    font-weight: 700;
    font-size: 35px;
}

.steps {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 50%;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}
.step-one {
    grid-column: 2;
    grid-row: 1;
}
.step-two {
    grid-column: 5;
    grid-row: 1;
}
.step-three {
    grid-column: 8;
    grid-row: 1;
}

.instruction-one {
    grid-column: 3/5;
    grid-row: 1;
}
.instruction-two {
    grid-column: 6/8;
    grid-row: 1;
}
.instruction-three {
    grid-column: 9/11;
    grid-row: 1;
}
.trademark {
    grid-column: 3/5;
    grid-row: 4/6;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.instructions-footer {
    font-size: 20px;
    text-align: center;
}

/* Main / section products */

#products {
    margin-top: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    column-gap: 3rem;
}
#products > div {
    width: 340px;
    height: 330px;
}
#products > div img {
    width: fit-content;
    height: 100%;
}
#products > div div,
[type="submit"] {
    padding: 0.5rem;
    border-radius: 1.4rem;
    font-size: 18px;
    background-color: var(--mainColor);
    color: #fff;
}

/* Main/ section form / bootstrap*/

#form {
    height: 1650px;
    margin: 0 auto;
    color: var(--mainColor);
    background-image: url("./images/freestocks-XJSfr6igb3E-unsplash\ 1.png");
    background-size: cover;
    overflow: hidden;
}
#form h1,
h5 {
    width: 450px;
    margin: inherit;
    padding: 1rem 0;
    text-align: center;
    font-weight: 700;
}
#form h5,
h6 {
    color: #000;
}

form {
    width: 800px;
    margin: inherit;
    padding: 4rem 0;
}

form h4 {
    font-weight: 700;
}

h4:last-of-type {
    padding: 2rem;
    text-align: center;
}

[type="text"]/* input:not([type="checkbox"],[type="submit"])*/ {
    width: 100%;
    padding: 0.4rem 0.6rem;
    opacity: 0.5;
    /* border-radius: .5rem;           optional */
    /* caret-color: var(--mainColor);  optional */
    /* color: var(--mainColor);        optional */
}

form img {
    width: 100%;
    padding: 2rem 0.7rem;
}

[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
}
[type="checkbox"]:checked {
    opacity: 1;
    accent-color: #009cde;
}

[type="checkbox"] + label {
    position: relative;
    margin: 0 0 20px 15px;
    cursor: pointer;
    color: #000;
}
[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -34px;
    width: 1rem;
    height: 1rem;
    border: 2px solid #009cde;
    border-radius: 0.2rem;
}
[type="submit"] {
    margin-left: 50px;
}
.vector-two {
    top: 80px;
    left: 250px;
}
.vector-three {
    top: 150px;
    left: 80px;
}
.vector-four {
    bottom: 400px;
    left: 1500px;
}
.vector-five {
    bottom: 350px;
    left: 1340px;
}

/* Footer */

footer {
    max-width: 100%;
    min-width: 1444px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./images/freestocks-XJSfr6igb3E-unsplash\ 1.png");
    background-position: 0% 94%;
}

#social-media ul,
#reference ul {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    list-style: none;
}

#social-media i {
    font-size: 40px;
    color: #000;
}
#reference a {
    text-decoration: none;
    color: #000;
}
